.container {
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 30% 30% 30%;
    height: 300px;
    width: 300px;
    margin-left: calc((100vw - 300px) / 2)
  }
  
  .box {
    border: 1px solid purple;
  }
  
  .selected {
    background-color: blueviolet;
  }
  